main
{
    background-color: #cccccc;
}

.side-block
{
    background-color: #192227;

    border-top: 2px solid #ffffff;

    border-right: 10px solid #123456;
    border-left: 2px solid #123456;

    border-color: #1aa3ff;

    border-radius: 30px;
}

.side-block:hover
{
    background-color: #243138;

    border-radius: 25px;

    border-right: 5px solid #123456;
}

.main
{
    background-color: #263238;
    border-color: #ffffff;
}