main {
    background-color: #cccccc;
}

.side-block {
    background-color: #192227;

    border-right: 1px solid #0F1518;
    border-color: #0F1518;
}

.main {
    background-color: #263238;
}

.bottom-block
{
    background-color: #263238;
    border-top: 1px solid #181F23;
    border-color: #181F23;
}
    
.top-block
{
    background-color: #192227;
    border-bottom: 1px solid #0F1518;
    border-color: #0F1518;
}

.menu-item
{
    color: #EEFFFF;

    font-size: 13px;
    line-height: 0.9;
    text-align: center;
    vertical-align: center;
    
}

.menu-item:hover
{
    background-color: #141C20;
    color: #73B6B0;
}

.editor-main
{
    background-color: #263238;
    border-left: 1px solid #181F23;
    border-color: #ffffff;


    color: #B2CCD6;
    line-height: 1.7;
    margin-top: 10px;
    margin-left: 10px;
 
    font-size: 15px;


    vertical-align: top;
}


.logo
{
    background-image: url(../nia-framework/images/big_app_icon.png);
    background-position-x: 12px;
    background-position-y: 6px;
    background-size: 18px;
}

.settings
{
    background-image: url(../nia-framework/images/settings.png);
}

.settings:hover
{
    background-image: url(../nia-framework/images/settings-hover.png);
}


.current-row-text
{
    font-size: 12px;
    color: #0099ff56;
    
    margin-right: 5px;

    line-height: 0.9;
    text-align: right;
    vertical-align: center;
}

.current-row-text:hover
{
    background-color: #2C3A41;
}

.test
{
    background-color: #ffffff;
}