.container
{
    background-color: #ffffff;     
    font-size: 20px;   
    vertical-align: center;

    border-color: #111111;
    line-height: 1.1;

    margin-top: 20px;
    margin-left: 23px;
}    


#acd
{
    background-color: #ffffff;     
    font-size: 20px;   
    vertical-align: center; 
}    